.projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.projects__list a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 20%;
}

