.projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.btn.sm {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.sm:hover {
    background: var(--color-secondary-variant);
    color: var(--color-secondary);
}

img {
    width: 20%;
}

