.datenschutz-container a {
    color: #a22111;
}

.datenschutz-container h3 {
    margin-bottom: 1rem;
}

.datenschutz-container p {
    margin-bottom: 3rem;
}

.datenschutz-container h1 {
    margin-bottom: 2rem;
}

.datenschutz-container h2 {
    margin-bottom: 1.5rem;
}