.about__section-image img {
    border-radius: 10px;
}
.about__section-image2 img {
    border-radius: 10px;
}

.about__section-content h1 {
    margin-bottom: 2rem;
}

.about__section-content2 {
    order: 1
}

.about__section-content2 h1 {
    margin-bottom: 2rem;
}

.about__section-image2 {
    order: 2;
}

.about__section-content, .about__section-content2 p {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: large;
}

.about__story-container {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}

.about__vision-container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap:10%;
    grid-auto-flow: row
}



/*MEDIA QUERIES (medium screen)*/
@media screen and (max-width: 1668px) {

    .about__story-container {
        display: block;
    }

    .about__vision-container {
        display: block;
    }

    .about__section-image {
        float: left;
        margin: 0 20px 20px 0; 
        width: 40%;
    }

    .about__section-image img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .about__section-image2 {
        float: right;
        margin: 0 0 20px 20px;
        width: 40%;
    }

    .about__section-image2 img{
        max-width: 100%;
        height: auto;
    }
}


/* MEDIA QUERIES (small screen) */

@media only screen and (max-width: 767px) {
    .about__story-container,
    .about__vision-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px; 
    }
  
    .about__section-image,
    .about__section-image2,
    .about__section-content {
      float: none;
      width: 100%;
      margin: 0; 
    }
  }