.podcast__section-image {
    border-radius: 20%;
    overflow: hidden;
    width: 100%;
}

.podcast__section-content h1 {
    margin-bottom: 0,5rem;
}

.podcast__section-content h2 {
    font-family: "Poppins";
    margin-bottom: 3rem;
}

.GM_Head {
    color: #a22111;
}

.podcast__section-content {
    margin-bottom: 3rem;
}

.podcast-container {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
    margin-bottom: 5rem;
}

.podcast__container {
    display: grid;
    place-items: center;
}

.podcast__wrapper h1 {
    align-items: center;
    text-align: center;
}

.podcast__wrapper h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.podcast__wrapper p {
    margin-bottom: 4rem;
}

.podcast__spotify {
    margin-bottom: 4rem
}