.podcast__section-image {
    border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
    overflow: hidden;
}

.podcast-container {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
}

.podcast__container {
    display: grid;
    place-items: center;
}

.podcast__wrapper h1 {
    align-items: center;
    text-align: center;
}

.podcast__wrapper h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.podcast__wrapper p {
    margin-bottom: 4rem;
}

.podcast__spotify {
    margin-bottom: 4rem
}