.podcast__section-image {
    border-radius: 20%;
    overflow: hidden;
    width: 100%;
}

.podcast__section-content h1 {
    margin-bottom: 0,5rem;
}

.podcast__section-content h2 {
    font-family: "Poppins";
    margin-bottom: 2rem;
}

.GM_Head {
    color: #a22111;
}

.podcast__section-content {
    margin-bottom: 3rem;
}

.podcast-container {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
    margin-bottom: 5rem;
}

.podcast__container {
    display: grid;
    place-items: center;
}

.podcast__wrapper h1 {
    align-items: center;
    text-align: center;
}

.podcast__wrapper h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.podcast__wrapper p {
    margin-bottom: 4rem;
}

.podcast__spotify {
    margin-bottom: 4rem
}

.podcast_provider {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}

.podcast_provider a {
    display: flex;
    flex-direction: column;
    background: var(--color-gray-100);
    padding: 1.4rem;
    border: 0.9px solid transparent;
    border-radius: 0.6rem;
    border-color: #a22111;
    transition: var(--transition);
}

.podcast_provider a svg {
    color: var(--color-gray-600);
}

.podcast_provider a:hover {
    border-color: var(--color-gray-100);
    background: #a22111;
}


/*==============MEDIA QUERIES==============*/

@media screen and (max-width: 1024px) {
    .podcast-container {
        height: fit-content;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .podcast__section-content p {
        margin-bottom: -5rem;
    }

    .podcast_provider a{
        align-items: center;
    }
}